dtd/cbeta.old.dtd

<!-- The public identifier I currently use for this is
  -//TEI//DTD TEI CBETA 1.0//EN
  but it may change ... (CW, 25 July 95) -->
<!-- added APP, LEM, RDG; attributes not yet checked!!CW -->


<!ELEMENT TEI.2 - O (teiHeader, text)>
<!ATTLIST TEI.2 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "TEI.2" >
<!ELEMENT gi - O (#PCDATA)>
<!ATTLIST gi 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEI (yes | no) "yes" 
     TEIform CDATA "gi" >
<!ELEMENT eg - - (#PCDATA)>
<!ATTLIST eg 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "eg" >
<!ELEMENT code - O (#PCDATA)>
<!ATTLIST code 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED >
<!ELEMENT ident - O (#PCDATA)>
<!ATTLIST ident 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED >
<!ELEMENT kw - O (#PCDATA)>
<!ATTLIST kw 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED >
<!ELEMENT teiHeader - - (fileDesc, (encodingDesc)*, (profileDesc)*,
(revisionDesc)?)>
<!ATTLIST teiHeader 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA "text" 
     creator CDATA #IMPLIED 
     status (new | update) "new" 
     date.created CDATA #IMPLIED 
     date.updated CDATA #IMPLIED 
     TEIform CDATA "teiHeader" >
<!--  5.1.1:  The TEI Header (cont'd)                          -->
<!--  5.2:  The file description                               -->
<!ELEMENT fileDesc - - (titleStmt, (editionStmt)?, (extent)?,
publicationStmt, (seriesStmt)?, (notesStmt)?, (sourceDesc)+)>
<!ATTLIST fileDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "fileDesc" >
<!--  5.2.1:  The title statement                              -->
<!ELEMENT titleStmt - O (((title)+, (author | editor | sponsor |
funder | principal | respStmt)*))>
<!ATTLIST titleStmt 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "titleStmt" >
<!ELEMENT sponsor - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST sponsor 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "sponsor" >
<!ELEMENT funder - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST funder 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "funder" >
<!ELEMENT principal - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST principal 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "principal" >
<!--  The TITLE, AUTHOR, NAME, RESPSTMT, and RESP elements     -->
<!--  are declared in file teicore2.dtd, not here.             -->
<!--  (end of 5.2.1)                                           -->
<!--  5.2.2:  The edition statement                            -->
<!ELEMENT editionStmt - O ((edition, (respStmt)*) | (p)+)>
<!ATTLIST editionStmt 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "editionStmt" >
<!ELEMENT edition - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST edition 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "edition" >
<!--  (end of 5.2.2)                                           -->
<!--  5.2.3:  The extent statement                             -->
<!ELEMENT extent - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST extent 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "extent" >
<!--  (end of 5.2.3)                                           -->
<!--  5.2.4:  The publication statement                        -->
<!ELEMENT publicationStmt - O ((p)+ | ((publisher | distributor |
authority) & ((pubPlace)?, (address)?, (idno)*, (availability)?,
(date)?)+)+)>
<!ATTLIST publicationStmt 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "publicationStmt" >
<!ELEMENT distributor - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST distributor 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "distributor" >
<!ELEMENT authority - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST authority 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "authority" >
<!ELEMENT idno - O (#PCDATA)>
<!ATTLIST idno 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "idno" >
<!ELEMENT availability - O ((p)+)>
<!ATTLIST availability 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     status (free | unknown | restricted) #IMPLIED 
     TEIform CDATA "availability" >
<!--  The PUBLISHER, PUBPLACE, and ADDRESS elements are        -->
<!--  defined in file teicore2.dtd.                            -->
<!--  (end of 5.2.4)                                           -->
<!--  5.2.5:  The series statement                             -->
<!ELEMENT seriesStmt - O ((title, (idno | respStmt)*) | (p)+)>
<!ATTLIST seriesStmt 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "seriesStmt" >
<!--  (end of 5.2.5)                                           -->
<!--  5.2.6:  The notes statement                              -->
<!ELEMENT notesStmt - O ((note)+)>
<!ATTLIST notesStmt 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "notesStmt" >
<!--  The NOTE element is defined with the core tags.          -->
<!--  (end of 5.2.6)                                           -->
<!--  (end of 5.2)                                             -->
<!--  5.2.7:  The source description                           -->
<!ELEMENT sourceDesc - - (p | bibl | biblFull | listBibl)+>
<!ATTLIST sourceDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "sourceDesc" >
<!--  5.2.9:  Script statement and recording statement         -->
<!--  (end of 5.2.9)                                           -->
<!--  (end of 5.2.7)                                           -->
<!--  5.3:  The encoding description                           -->
<!ELEMENT encodingDesc - - ((projectDesc)*, (samplingDecl)*,
(editorialDecl)*, (tagsDecl)?, (refsDecl)*, (classDecl)*, 
(p)*)>
<!ATTLIST encodingDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "encodingDesc" >
<!--  5.3.1:  The project description                          -->
<!ELEMENT projectDesc - O ((p)+)>
<!ATTLIST projectDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "projectDesc" >
<!--  (end of 5.3.1)                                           -->
<!--  5.3.2:  The sampling declaration                         -->
<!ELEMENT samplingDecl - O ((p)+)>
<!ATTLIST samplingDecl 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "samplingDecl" >
<!--  (end of 5.3.2)                                           -->
<!--  5.3.3:  The editorial practices declaration              -->
<!ELEMENT editorialDecl - O (p+) >
<!ATTLIST editorialDecl 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "editorialDecl" >
<!--  (end of 5.3.3)                                           -->
<!--  5.3.4:  Tag usage and rendition declarations             -->
<!ELEMENT tagsDecl - O ((rendition)*, (tagUsage)*)>
<!ATTLIST tagsDecl 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "tagsDecl" >
<!ELEMENT tagUsage - O ((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST tagUsage 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     gi NAME #REQUIRED 
     occurs NUMBER #IMPLIED 
     ident NUMBER #IMPLIED 
     render IDREF #IMPLIED 
     TEIform CDATA "tagUsage" >
<!ELEMENT rendition - O ((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST rendition 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "rendition" >
<!--  (end of 5.3.4)                                           -->
<!--  5.3.5.3:  The reference scheme declaration               -->
<!ELEMENT refsDecl - O (p+)>
<!ATTLIST refsDecl 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     doctype NAME "TEI.2" 
     TEIform CDATA "refsDecl" >
<!--  (end of 5.3.5.3)                                         -->
<!--  5.3.6:  The classification declaration                   -->
<!ELEMENT classDecl - - ((taxonomy)+)>
<!ATTLIST classDecl 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "classDecl" >
<!ELEMENT taxonomy - - ((category)+ | ((bibl | biblFull),
(category)*))>
<!ATTLIST taxonomy 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "taxonomy" >
<!ELEMENT category - - (catDesc, (category)*)>
<!ATTLIST category 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "category" >
<!ELEMENT catDesc - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST catDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "catDesc" >
<!--  (end of 5.3.6)                                           -->
<!--  5.3.7:  The FSD declaration                              -->
<!--  (end of 5.3.7)                                           -->
<!--  5.3.8:  Metrical Notation Declaration                    -->
<!--  (end of 5.3.8)                                           -->
<!--  5.3.9:  Variant-Encoding Declaration                     -->
<!--  (end of 5.3.9)                                           -->
<!--  (end of 5.3)                                             -->
<!--  5.4:  The profile description                            -->
<!ELEMENT profileDesc - - ((creation)?, (langUsage)*, 
(textClass)*)>
<!ATTLIST profileDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "profileDesc" >
<!--  5.4.1:  Creation                                         -->
<!ELEMENT creation - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST creation 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "creation" >
<!--  (end of 5.4.1)                                           -->
<!--  5.4.2:  Language usage                                   -->
<!ELEMENT langUsage - O (p | language)+>
<!ATTLIST langUsage 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "langUsage" >
<!ELEMENT language - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST language 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     id ID #IMPLIED 
     wsd ENTITY #IMPLIED 
     usage NUMBER #IMPLIED 
     TEIform CDATA "language" >
<!--  (end of 5.4.2)                                           -->
<!--  5.4.3:  Text Classification                              -->
<!ELEMENT textClass - - ((classCode | catRef | keywords)*)>
<!ATTLIST textClass 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "textClass" >
<!ELEMENT keywords - O ((term)+ | list)>
<!ATTLIST keywords 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     scheme IDREF #IMPLIED 
     TEIform CDATA "keywords" >
<!ELEMENT classCode - - (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST classCode 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     scheme IDREF #IMPLIED 
     TEIform CDATA "classCode" >
<!ELEMENT catRef - O EMPTY>
<!ATTLIST catRef 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     target IDREFS #REQUIRED 
     scheme IDREF #IMPLIED 
     TEIform CDATA "catRef" >
<!--  (end of 5.4.3)                                           -->
<!--  (end of 5.4)                                             -->
<!--  5.5:  The Revision Description                           -->
<!ELEMENT revisionDesc - - (list | (change)+)>
<!ATTLIST revisionDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "revisionDesc" >
<!ELEMENT change - O (date, (respStmt)+, item)>
<!ATTLIST change 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "change" >
<!--  respStmt, item, and date are declared in teicore2.       -->
<!--  (end of 5.5)                                             -->
<!--  (end of 5.1.1)                                           -->
<!--  (end of 5.1.1)                                           -->
<!--  teicore2.dtd:  written by OddDTD 1994-09-09              -->
<!--  6.12: Elements available in all forms of the TEI main    -->
<!--  DTD                                                      -->
<!--  Definition of elements, sub-group by sub-group.          -->
<!--  6.1:  Paragraph                                          -->
<!ELEMENT fan - - (zi,yin)>
<!ATTLIST fan 
     wit IDREFS #IMPLIED
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "fan" >
<!ELEMENT zi - - ((#PCDATA | app)*)>
<!ATTLIST zi 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "zi" >
<!ELEMENT yin - - ((#PCDATA | app | note)*)>
<!ATTLIST yin 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     yuan CDATA #IMPLIED
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "yin" >

<!ELEMENT skgloss - - ((term,gloss)?,(gloss,term)?)>
<!ATTLIST skgloss 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED >


<!ELEMENT app - - (lem?,rdg*)>
<!ATTLIST app 
     wit CDATA #IMPLIED
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     from IDREF #IMPLIED 
     to IDREF #IMPLIED 
     yuan CDATA #IMPLIED
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "app" >
<!ELEMENT lem - - ((#PCDATA | p | head | l | lg | app | skgloss | fan | ident | code | kw | abbr | address | date
| name | num | rs | time | add | corr | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text | pb | lb)*)>
<!ATTLIST lem 
     wit CDATA #IMPLIED
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "lem" >
<!ELEMENT rdg - - ((#PCDATA | l | head | skgloss | fan | ident | code | kw | abbr | address | date 
| name | num | rs | time | add | corr | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text | pb | lb)*)>
<!ATTLIST rdg 
     from IDREF #IMPLIED 
     to IDREF #IMPLIED 
     wit CDATA #IMPLIED
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "rdg" >


<!ELEMENT juan - O ((#PCDATA | app | skgloss | note | corr)*)>
<!ATTLIST juan 
     fun (open, close) open
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "juan" >



<!ELEMENT p - - ((#PCDATA | fan | app | skgloss | ident | code | kw | abbr | address | date
| name | num | rs | time | add | corr | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | quote| label | list | listBibl | note | figure
| stage | table | text)*)>
<!ATTLIST p 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "p" >

<!ELEMENT c - O ((#PCDATA | fan | app | skgloss | ident | code | kw | abbr | address | date
| name | num | rs | time | add | corr | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | quote| label | list | listBibl | note | figure
| stage | table | text)*)>
<!ATTLIST c 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "c" >

<!--  (end of 6.1)                                             -->
<!--  6.3.2.1:  Highlighted phrases                            -->
<!ELEMENT foreign - - ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST foreign 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     rend CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     TEIform CDATA "foreign" >
<!--  6.3.2.2:  Highlighted phrases (cont'd)                   -->
<!ELEMENT emph - - ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST emph 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "emph" >
<!ELEMENT hi - - ((#PCDATA | ident | code | kw | abbr | address | date
| name | num | rs | time | add | corr | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text)*)>
<!ATTLIST hi 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "hi" >
<!--  (end of 6.3.2.2)                                         -->
<!--  6.3.2.3:  Highlighted phrases (cont'd)                   -->
<!--  (end of 6.3.2.3)                                         -->
<!--  6.3.3:  Highlighted phrases (cont'd)                     -->
<!ELEMENT q - - ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg | p
| sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | fan | ident | code | kw | abbr | address | date | name | num |
rs | time | add | app | skgloss | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | quote | label | list | listBibl | note | figure | stage |
table | text)*)))>
<!ATTLIST q 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     direct (y | n | unspecified) "unspecified" 
     who CDATA #IMPLIED 
     TEIform CDATA "q" >
<!ELEMENT quote - - ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg | p
| sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | fan | ident | code | kw | abbr | address | date | name | num |
rs | time | add | app | skgloss | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | quote | label | list | listBibl | note | figure | stage |
table | text)*)))>
<!ATTLIST quote 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     direct (y | n | unspecified) "unspecified" 
     who CDATA #IMPLIED 
     TEIform CDATA "quote" >
<!ELEMENT cit - - ((q) & (bibl | biblFull | ptr | ref | xptr | xref))>
<!ATTLIST cit 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "cit" >
<!ELEMENT soCalled - - (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST soCalled 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "soCalled" >
<!--  (end of 6.3.3)                                           -->
<!--  6.3.4:  Highlighted phrases (cont'd)                     -->
<!ELEMENT term - - (((#PCDATA | fan | app | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST term 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "term" >
<!ELEMENT mentioned - - (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST mentioned 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "mentioned" >
<!ELEMENT gloss - - (((#PCDATA | skgloss | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST gloss 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     target IDREF #IMPLIED 
     alt CDATA #IMPLIED 
     TEIform CDATA "gloss" >
<!--  (end of 6.3.4)                                           -->
<!--  (end of 6.3.2.1)                                         -->
<!--  6.4.1:  Proper Nouns                                     -->
<!ELEMENT name - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST name 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     key CDATA #IMPLIED 
     reg CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "name" >
<!ELEMENT rs - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST rs 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     key CDATA #IMPLIED 
     reg CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "rs" >
<!--  (end of 6.4.1)                                           -->
<!--  6.4.3:  Numbers and measures                             -->
<!ELEMENT num - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST num 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     value CDATA #IMPLIED 
     TEIform CDATA "num" >
<!--  (end of 6.4.3)                                           -->
<!--  6.4.4:  Dates and times                                  -->
<!ELEMENT date - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST date 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     calendar CDATA #IMPLIED 
     value CDATA #IMPLIED 
     certainty CDATA #IMPLIED 
     TEIform CDATA "date" >
<!ELEMENT time - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST time 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     value CDATA #IMPLIED 
     type (am | pm | 24hour | descriptive) #IMPLIED 
     zone CDATA #IMPLIED 
     TEIform CDATA "time" >
<!--  (end of 6.4.4)                                           -->
<!--  6.4.5:  Abbreviations                                    -->
<!ELEMENT abbr - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST abbr 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     expan CDATA #IMPLIED 
     resp IDREF #IMPLIED 
     cert CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "abbr" >
<!--  (end of 6.4.5)                                           -->
<!--  6.5.1:  Editorial tags for correction                    -->
<!ELEMENT sic - - ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg |
p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | address | date | name | num |
rs | time | add | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>
<!ATTLIST sic 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     corr CDATA #IMPLIED 
     resp IDREF #IMPLIED 
     cert CDATA #IMPLIED 
     TEIform CDATA "sic" >
<!ELEMENT corr - - ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg |
p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | address | date | name | num |
rs | time | add | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>
<!ATTLIST corr 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     sic CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     cert CDATA #IMPLIED 
     cf1 CDATA #IMPLIED 
     cf2 CDATA #IMPLIED 
     TEIform CDATA "corr" >
<!--  (end of 6.5.1)                                           -->
<!--  6.5.2:  Editorial tags for regularization                -->
<!ELEMENT reg - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST reg 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     orig CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     TEIform CDATA "reg" >
<!ELEMENT orig - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST orig 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     reg CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     TEIform CDATA "orig" >
<!--  (end of 6.5.2)                                           -->
<!--  6.5.3:  Other editorial tags                             -->
<!ELEMENT gap - O EMPTY>
<!ATTLIST gap 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     desc CDATA #IMPLIED 
     reason CDATA #IMPLIED 
     resp IDREF #IMPLIED 
     hand IDREF #IMPLIED 
     agent CDATA #IMPLIED 
     extent CDATA #IMPLIED 
     TEIform CDATA "gap" >
<!ELEMENT add - - ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg |
p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | address | date | name | num |
rs | time | add | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>
<!ATTLIST add 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     place CDATA #IMPLIED 
     resp IDREF #IMPLIED 
     cert CDATA #IMPLIED 
     hand IDREF #IMPLIED 
     TEIform CDATA "add" >
<!ELEMENT del - - (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST del 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     status CDATA "unremarkable" 
     resp IDREF #IMPLIED 
     cert CDATA #IMPLIED 
     hand IDREF #IMPLIED 
     TEIform CDATA "del" >
<!ELEMENT unclear - O ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST unclear 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     reason CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     cert CDATA #IMPLIED 
     hand IDREF #IMPLIED 
     agent CDATA #IMPLIED 
     TEIform CDATA "unclear" >
<!--  (end of 6.5.3)                                           -->
<!--  6.4.2:  Addresses and their components                   -->
<!ELEMENT address - O (addrLine+)>
<!ATTLIST address 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "address" >
<!ELEMENT addrLine - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST addrLine 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "addrLine" >
<!--  Other components of addresses should be represented      -->
<!--  using the general purpose NAME element                   -->
<!--  (end of 6.4.2)                                           -->
<!--  6.6:  Simple cross references                            -->
<!ELEMENT ptr - O EMPTY>
<!ATTLIST ptr 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     crdate CDATA #IMPLIED 
     targType NAMES #IMPLIED 
     targOrder (Y | N | U) "U" 
     evaluate (all | one | none) #IMPLIED 
     target IDREFS #REQUIRED 
     TEIform CDATA "ptr" >
<!ELEMENT ref - - ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST ref 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     crdate CDATA #IMPLIED 
     targType NAMES #IMPLIED 
     targOrder (Y | N | U) "U" 
     evaluate (all | one | none) #IMPLIED 
     target IDREFS #IMPLIED 
     TEIform CDATA "ref" >
<!--  (end of 6.6)                                             -->
<!--  6.7:  Lists and List Items                               -->
<!ELEMENT list - - (head?, ((item+) | ((label, item)+)))>
<!ATTLIST list 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA "simple" 
     TEIform CDATA "list" >
<!ELEMENT item - O ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg |
p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | address | date | name | num |
rs | time | add | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>
<!ATTLIST item 
     id ID #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     n CDATA #IMPLIED 
     TEIform CDATA "item" >
<!ELEMENT label - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST label 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "label" >
<!ELEMENT head - O ((#PCDATA | app | skgloss | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST head 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "head" >
<!--  (end of 6.7)                                             -->
<!--  6.8.1:  Annotation                                       -->
<!ELEMENT note - - ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg |
p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | app | skgloss | ident | code | kw | abbr | address | date | name | num |
rs | time | add | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>
<!ATTLIST note 
     id ID #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     n CDATA #IMPLIED 
     type CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     place CDATA "unspecified" 
     anchored (yes | no) "yes" 
     target IDREFS #IMPLIED 
     targetEnd IDREFS #IMPLIED 
     TEIform CDATA "note" >
<!--  6.8.2:  Index Entries                                    -->
<!ELEMENT index - O EMPTY>
<!ATTLIST index 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     index CDATA #IMPLIED 
     level1 CDATA #REQUIRED 
     level2 CDATA #IMPLIED 
     level3 CDATA #IMPLIED 
     level4 CDATA #IMPLIED 
     TEIform CDATA "index" >
<!ELEMENT divGen - O EMPTY>
<!ATTLIST divGen 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "divGen" >
<!--  (end of 6.8.2)                                           -->
<!--  (end of 6.8.1)                                           -->
<!--  6.9.3:  Milestone tags                                   -->
<!ELEMENT milestone - O EMPTY>
<!ATTLIST milestone 
     id ID #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     ed CDATA #IMPLIED 
     n CDATA #IMPLIED 
     unit CDATA #REQUIRED 
     TEIform CDATA "milestone" >
<!ELEMENT pb - O EMPTY>
<!ATTLIST pb 
     id ID #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     ed CDATA #IMPLIED 
     n CDATA #IMPLIED 
     TEIform CDATA "pb" >
<!ELEMENT lb - O EMPTY>
<!ATTLIST lb 
     id ID #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     ed CDATA #IMPLIED 
     n CDATA #IMPLIED 
     TEIform CDATA "lb" >
<!--  (end of 6.9.3)                                           -->
<!--  6.10.1:  Tags for Bibliographic References               -->
<!ELEMENT bibl - O (#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | author | biblScope | edition | editor | extent | idno |
imprint | note | publisher | pubPlace | respStmt)*>
<!ATTLIST bibl 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "bibl" >
<!ELEMENT biblFull - O (titleStmt, (editionStmt)?, (extent)?,
publicationStmt, (seriesStmt)?, (notesStmt)?, (sourceDesc)*)>
<!ATTLIST biblFull 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "biblFull" >
<!ELEMENT listBibl - - ((head)?, (bibl | biblFull)+, (trailer)?)>
<!ATTLIST listBibl 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     default (YES | NO) "NO" 
     TEIform CDATA "listBibl" >
<!--  6.10.2.1:  Tags for Bibliographic References (cont'd)    -->
<!--  (end of 6.10.2.1)                                        -->
<!--  6.10.2.2:  Tags for Bibliographic References (cont'd)    -->
<!ELEMENT author - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST author 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "author" >
<!ELEMENT editor - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST editor 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     role CDATA "editor" 
     TEIform CDATA "editor" >
<!ELEMENT respStmt - O ((resp & name), (resp | name)*)>
<!ATTLIST respStmt 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "respStmt" >
<!ELEMENT resp - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST resp 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "resp" >
<!ELEMENT title - O ((#PCDATA |app | skgloss | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST title 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     level (a | m | j | s | u) #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "title" >
<!--  (end of 6.10.2.2)                                        -->
<!--  6.10.2.3:  Tags for Bibliographic References (cont'd)    -->
<!ELEMENT imprint - O (pubPlace | publisher | date | biblScope)*>
<!ATTLIST imprint 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "imprint" >
<!ELEMENT publisher - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST publisher 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "publisher" >
<!ELEMENT biblScope - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST biblScope 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "biblScope" >
<!ELEMENT pubPlace - - (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST pubPlace 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     key CDATA #IMPLIED 
     reg CDATA #IMPLIED 
     TEIform CDATA "pubPlace" >
<!--  Note and date are defined elsewhere, as are extent,      -->
<!--  address, and idno.                                       -->
<!--  (end of 6.10.2.3)                                        -->
<!--  (end of 6.10.1)                                          -->
<!--  6.11.1:  Verse                                           -->
<!ELEMENT l - O ((#PCDATA | app | skgloss | fan | ident | code | kw | abbr | address | date
| name | num | rs | time | add | corr | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text)*)>
<!ATTLIST l 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     enjamb CDATA #IMPLIED 
     met CDATA #IMPLIED 
     real CDATA #IMPLIED 
     rhyme CDATA #IMPLIED 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "l" >
<!ELEMENT lg - O ((argument | docAuthor | docDate | epigraph
| head | opener | salute | signed)*, (l | lg | app)+, (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST lg 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     met CDATA #IMPLIED 
     real CDATA #IMPLIED 
     rhyme CDATA #IMPLIED 
     TEIform CDATA "lg" >
<!--  (end of 6.11.1)                                          -->
<!--  6.11.2:  Drama                                           -->
<!ELEMENT sp - O ((speaker)?, (p | l | lg | seg | stage)+)>
<!ATTLIST sp 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     who IDREFS #IMPLIED 
     TEIform CDATA "sp" >
<!ELEMENT speaker - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*) -(speaker) >
<!ATTLIST speaker 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "speaker" >
<!ELEMENT stage - - ((((l | lg | p | c | sp), (((bibl | biblFull | l | lg
| p | c | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | address | date | name | num |
rs | time | add | corr | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*))) -(stage) >
<!ATTLIST stage 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA "mix" 
     TEIform CDATA "stage" >
<!--  (end of 6.11.2)                                          -->
<!--  (end of 6.12)                                            -->
<!--  (end of 3.6.3)                                           -->
<!--  3.6.4:  Embed base tag set                               -->
<!--  A different base will be embedded, depending on which    -->
<!--  parameter entity has been declared by the user with the  -->
<!--  value 'INCLUDE'.                                         -->
<!--  teipros2.dtd:  written by OddDTD 1994-09-09              -->
<!--  8:  Base Tag Set for Prose                               -->
<!--  Text Encoding Initiative: Guidelines for Electronic      -->
<!--  Text Encoding and Interchange. Document TEI P3, 1994.    -->
<!--  Copyright (c) 1994 ACH, ACL, ALLC. Permission to copy    -->
<!--  in any form is granted, provided this notice is          -->
<!--  included in all copies.                                  -->
<!--  These materials may not be altered; modifications to     -->
<!--  these DTDs should be performed as specified in the       -->
<!--  Guidelines in chapter "Modifying the TEI DTD."           -->
<!--  These materials subject to revision. Current versions    -->
<!--  are available from the Text Encoding Initiative.         -->
<!--  This base tag set does nothing but declare and embed     -->
<!--  the default text structure. When it is selected,         -->
<!--  therefore, the only tags available are those in the      -->
<!--  core and those defined in other selected tag sets.       -->
<!--  teistr2.dtd:  written by OddDTD 1994-09-09               -->
<!--  7.7:  Default text structure                             -->
<!--  This definition of the basic text structure is used by   -->
<!--  most TEI base tag sets; some bases, however, use slight  -->
<!--  variations upon it.                                      -->
<!--  7:  Top-level parts of default structure                 -->
<!ELEMENT text - - ((front)?, (body | group), (back)?) +(app | anchor | index | interp | interpGrp | lb | milestone | pb | juan | byline) >
<!ATTLIST text 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     TEIform CDATA "text" >
<!ELEMENT body - O ((argument | docAuthor | docDate |
epigraph | title | head | opener | salute | signed)*, (((divGen)*, ((div, (div
| divGen)*) | (div0, (div0 | divGen)*) | (div1, (div1 | divGen)*))) |
(((bibl | biblFull | l | lg | c | sp | cit | q | label | list |
listBibl | note | stage))+, ((divGen)*, ((div, (div | divGen)*) |
(div0, (div0 | divGen)*) | (div1, (div1 | divGen)*))?))), (closer | epigraph | salute | signed | trailer)*)>
<!ATTLIST body 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     TEIform CDATA "body" >
<!ELEMENT group - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, (text | group)+, (closer | epigraph | salute | signed | trailer)*)>
<!ATTLIST group 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     TEIform CDATA "group" >
<!--  (end of 7)                                               -->
<!--  7.1.1:  Un-numbered divisions                            -->
<!ELEMENT div - O ((argument | docAuthor | docDate | epigraph
| head | opener | salute | signed)*, ((div | divGen)+ | (((bibl | app |
biblFull | l | lg | p | c | sp | cit | q | label | list | listBibl | note
| stage))+, (div | divGen)*)), (closer | epigraph | salute |
signed | trailer)*)>
<!ATTLIST div 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div" >
<!--  (end of 7.1.1)                                           -->
<!--  7.1.2:  Numbered divisions                               -->
<!ELEMENT div0 - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div1 | divGen)+ |
(((bibl | biblFull | l | lg | p | c | sp | cit | q | label | list |
listBibl | note | stage))+, (div1 | divGen)*)), (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST div0 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div0" >
<!ELEMENT div1 - - ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div2 | divGen)+ |
(((bibl | app | biblFull | lg | p | c | sp | cit | q | label | list |
listBibl | note | stage))+, (div2 | divGen)*)), (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST div1 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div1" >
<!ELEMENT div2 - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div3 | divGen)+ |
(((bibl | biblFull | l | lg | p | c | sp | cit | q | label | list |
listBibl | note | stage))+, (div3 | divGen)*)), (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST div2 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div2" >
<!ELEMENT div3 - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div4 | divGen)+ |
(((bibl | biblFull | l | lg | p | c | sp | cit | q | label | list |
listBibl | note | stage))+, (div4 | divGen)*)), (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST div3 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div3" >
<!ELEMENT div4 - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div5 | divGen)+ |
(((bibl | biblFull | l | lg | p | c | sp | cit | q | label | list |
listBibl | note | stage))+, (div5 | divGen)*)), (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST div4 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div4" >
<!ELEMENT div5 - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div6 | divGen)+ |
(((bibl | biblFull | l | lg | p | c | sp | cit | q | label | list |
listBibl | note | stage))+, (div6 | divGen)*)), (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST div5 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div5" >
<!ELEMENT div6 - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div7 | divGen)+ |
(((bibl | biblFull | l | lg | p | c | sp | cit | q | label | list |
listBibl | note | stage))+, (div7 | divGen)*)), (closer |
epigraph | salute | signed | trailer)*)>
<!ATTLIST div6 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div6" >
<!ELEMENT div7 - O ((argument | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((bibl | biblFull | l |
lg | p | c | sp | cit | q | label | list | listBibl | note | stage))+,
(closer | epigraph | salute | signed | trailer)*)>
<!ATTLIST div7 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     type CDATA #CURRENT 
     org (composite | uniform) "uniform" 
     sample (initial | medial | final | unknown | complete) "complete" 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "div7" >
<!--  (end of 7.1.2)                                           -->
<!--  7.2.4:  Tags for start and end of divisions              -->
<!ELEMENT trailer - O (((#PCDATA | app | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST trailer 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "trailer" >
<!ELEMENT byline - O (((#PCDATA | app | skgloss | note | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))* | docAuthor)*>
<!ATTLIST byline 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "byline" >
<!ELEMENT dateline - O (date | time | name | #PCDATA | address)*>
<!ATTLIST dateline 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "dateline" >
<!ELEMENT argument - - ((head)?, ((bibl | biblFull | l | lg | p | c | sp |
cit | q | label | list | listBibl | note | stage))*)>
<!ATTLIST argument 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "argument" >
<!ELEMENT epigraph - - (((bibl | biblFull | l | lg | p | c | sp | cit | q
| label | list | listBibl | note | stage))*)>
<!ATTLIST epigraph 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "epigraph" >
<!ELEMENT opener - O (signed | dateline | salute | ((#PCDATA | ident |
code | kw | abbr | address | date | name | num | rs | time | add |
corr | del | gap | orig | reg | sic | unclear | emph | foreign | gloss
| hi | mentioned | soCalled | term | title | ptr | ref | xptr | xref |
anchor | s | seg | gi | formula))*)*>
<!ATTLIST opener 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "opener" >
<!ELEMENT closer - O (signed | dateline | salute | ((#PCDATA | ident |
code | kw | abbr | address | date | name | num | rs | time | add |
corr | del | gap | orig | reg | sic | unclear | emph | foreign | gloss
| hi | mentioned | soCalled | term | title | ptr | ref | xptr | xref |
anchor | s | seg | gi | formula))*)*>
<!ATTLIST closer 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "closer" >
<!ELEMENT salute - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST salute 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "salute" >
<!ELEMENT signed - O (((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST signed 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "signed" >
<!--  The HEAD element is declared in the core tag set.        -->
<!--  (end of 7.2.4)                                           -->
<!--  Front matter is defined in TEI.front file.               -->
<!--  teifron2.dtd:  written by OddDTD 1994-09-09              -->
<!--  7.5:  Additional Tag Set for Front Matter                -->
<!ELEMENT front - O ((titlePage)*, (((argument | docAuthor |
docDate | epigraph | head | opener | salute | signed), (argument |
docAuthor | docDate | epigraph | head | opener | salute |
signed | titlePage)*) | ((div), (div | (titlePage))*) | ((div1), (div1
| (titlePage))*))?)>
<!ATTLIST front 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     TEIform CDATA "front" >
<!--  7.5:  Tags for title pages                               -->
<!ELEMENT titlePage - O (docAuthor | docDate | docEdition |
docImprint | docTitle | epigraph | titlePart)+>
<!ATTLIST titlePage 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     TEIform CDATA "titlePage" >
<!ELEMENT docTitle - O ((titlePart)+)>
<!ATTLIST docTitle 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "docTitle" >
<!ELEMENT titlePart - O ((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST titlePart 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA "main" 
     TEIform CDATA "titlePart" >
<!ELEMENT docAuthor - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>
<!ATTLIST docAuthor 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "docAuthor" >
<!ELEMENT docEdition - O ((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula | eg | bibl | biblFull | cit | q | label | list |
listBibl | note | figure | stage | table | text)*)>
<!ATTLIST docEdition 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "docEdition" >
<!ELEMENT docImprint - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))* | pubPlace | docDate | publisher)*>
<!ATTLIST docImprint 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "docImprint" >
<!ELEMENT docDate - O (((#PCDATA | ident | code | kw | abbr | address
| date | name | num | rs | time | add | corr | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>
<!ATTLIST docDate 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     value CDATA #IMPLIED 
     TEIform CDATA "docDate" >
<!--  (end of 7.5)                                             -->
<!--  (end of 7.5)                                             -->
<!--  Back matter is defined in TEI.back file.                 -->
<!--  teiback2.dtd:  written by OddDTD 1994-09-09              -->
<!--  7.6:  Tags for Back Matter                               -->
<!ELEMENT back - O ((titlePage)*, (((argument | docAuthor |
docDate | epigraph | head | opener | salute | signed), (argument |
docAuthor | docDate | epigraph | head | opener | salute |
signed | titlePage)*) | ((div), (div | (titlePage))*) | ((div1), (div1
| (titlePage))*))?)>
<!ATTLIST back 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     decls IDREFS #IMPLIED 
     TEIform CDATA "back" >
<!--  (end of 7.6)                                             -->
<!--  (end of 7.7)                                             -->
<!--  (end of 8)                                               -->
<!--  (end of 3.6.4)                                           -->
<!--  3.6.5:  Embed additional tag sets                        -->
<!--  These entities are declared and embedded only when the   -->
<!--  user has overridden the default declaration of IGNORE    -->
<!--  for a specific additional tag set.                       -->
<!--  teilink2.dtd:  written by OddDTD 1994-09-09              -->
<!--  14:  Linking, Segmentation and Alignment                 -->
<!--  Text Encoding Initiative: Guidelines for Electronic      -->
<!--  Text Encoding and Interchange. Document TEI P3, 1994.    -->
<!--  Copyright (c) 1994 ACH, ACL, ALLC. Permission to copy    -->
<!--  in any form is granted, provided this notice is          -->
<!--  included in all copies.                                  -->
<!--  These materials may not be altered; modifications to     -->
<!--  these DTDs should be performed as specified in the       -->
<!--  Guidelines in chapter "Modifying the TEI DTD."           -->
<!--  These materials subject to revision. Current versions    -->
<!--  are available from the Text Encoding Initiative.         -->
<!--  14.1.3:  Links                                           -->
<!--  (end of 14.1.3)                                          -->
<!--  14.2.1:  Extended pointers                               -->
<!ELEMENT xref - O ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST xref 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     crdate CDATA #IMPLIED 
     targType NAMES #IMPLIED 
     targOrder (Y | N | U) "U" 
     evaluate (all | one | none) #IMPLIED 
     doc ENTITY #IMPLIED 
     from CDATA "ROOT" 
     to CDATA "DITTO" 
     TEIform CDATA "xref" >
<!ELEMENT xptr - O EMPTY>
<!ATTLIST xptr 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     crdate CDATA #IMPLIED 
     targType NAMES #IMPLIED 
     targOrder (Y | N | U) "U" 
     evaluate (all | one | none) #IMPLIED 
     doc ENTITY #IMPLIED 
     from CDATA "ROOT" 
     to CDATA "DITTO" 
     TEIform CDATA "xptr" >
<!--  (end of 14.2.1)                                          -->
<!--  14.3:  Segments and Anchors                              -->
<!ELEMENT seg - - ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST seg 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     function CDATA #IMPLIED 
     subtype CDATA #IMPLIED 
     part (Y | N | I | M | F) "N" 
     TEIform CDATA "seg" >
<!ELEMENT anchor - O EMPTY>
<!ATTLIST anchor 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     function CDATA #IMPLIED 
     id ID #REQUIRED 
     TEIform CDATA "anchor" >
<!--  (end of 14.3)                                            -->
<!--  14.5.2:  Temporal specification                          -->
<!--  (end of 14.5.2)                                          -->
<!--  14.7:  Aggregation                                       -->
<!--  (end of 14.7)                                            -->
<!--  14.8:  Alternation                                       -->
<!--  (end of 14.8)                                            -->
<!--  (end of 14)                                              -->
<!--  teiana2.dtd:  written by OddDTD 1994-09-09               -->
<!--  15:  Simple analytic mechanisms                          -->
<!--  Text Encoding Initiative: Guidelines for Electronic      -->
<!--  Text Encoding and Interchange. Document TEI P3, 1994.    -->
<!--  Copyright (c) 1994 ACH, ACL, ALLC. Permission to copy    -->
<!--  in any form is granted, provided this notice is          -->
<!--  included in all copies.                                  -->
<!--  These materials may not be altered; modifications to     -->
<!--  these DTDs should be performed as specified in the       -->
<!--  Guidelines in chapter "Modifying the TEI DTD."           -->
<!--  These materials subject to revision. Current versions    -->
<!--  are available from the Text Encoding Initiative.         -->
<!--  We declare the various elements, group by group.         -->
<!--  15.3:  Spans                                             -->
<!ELEMENT interp - O EMPTY>
<!ATTLIST interp 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     type CDATA #IMPLIED 
     inst IDREFS #IMPLIED 
     value CDATA #REQUIRED 
     TEIform CDATA "interp" >
<!ELEMENT interpGrp - - ((interp)*)>
<!ATTLIST interpGrp 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     type CDATA #IMPLIED 
     inst IDREFS #IMPLIED 
     TEIform CDATA "interpGrp" >
<!--  (end of 15.3)                                            -->
<!--  15.1:  Linguistic Segment Categories                     -->
<!ELEMENT s - - (((#PCDATA | ident | code | kw | abbr | address | date
| name | num | rs | time | add | corr | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula))*)
-(s) >
<!ATTLIST s 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     function CDATA #IMPLIED 
     TEIform CDATA "s" >
<!--  (end of 15.1)                                            -->
<!--  (end of 15)                                              -->
<!--  teifig2.dtd:  written by OddDTD 1994-09-09               -->
<!--  22:  Tables, Formulae, Figures                           -->
<!--  22.1.1:  Tables                                          -->
<!ELEMENT table - - ((head)*, (row)+)>
<!ATTLIST table 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     rows NUMBER #IMPLIED 
     cols NUMBER #IMPLIED 
     TEIform CDATA "table" >
<!ELEMENT row - O ((cell | table)+)>
<!ATTLIST row 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     role CDATA "data" 
     TEIform CDATA "row" >
<!ELEMENT cell - O ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST cell 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     role CDATA "data" 
     rows NUMBER "1" 
     cols NUMBER "1" 
     TEIform CDATA "cell" >
<!--  (end of 22.1.1)                                          -->
<!--  22.2:  Formulae                                          -->
<!ELEMENT formula - - CDATA>
<!ATTLIST formula 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     notation CDATA #REQUIRED 
     TEIform CDATA "formula" >
<!--  (end of 22.2)                                            -->
<!--  22.3:  Figures                                           -->
<!ELEMENT figure - - ((head)?, (p)*, (figDesc)?, (text)?)>
<!ATTLIST figure 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     entity ENTITY #IMPLIED 
     TEIform CDATA "figure" >
<!ELEMENT figDesc - - ((#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>
<!ATTLIST figDesc 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "figDesc" >
<!--  (end of 22.3)                                            -->
<!--  (end of 22)                                              -->
<!--  (end of 3.6.5)                                           -->
<!--  (end of 3.6.1)                                           -->
<!-- ]> -->

<!ENTITY Sacute SDATA "&Sacute;"  >
<!ENTITY amacron SDATA "&amacron;"  >
<!ENTITY emacron SDATA "&emacron;"  >
<!ENTITY mdash SDATA "&mdash;"  >
<!ENTITY hdotblw SDATA "&hdotblw;"  >
<!ENTITY mdotblw SDATA "&mdotblw;"  >
<!ENTITY ntilde SDATA "&ntilde;"  >
<!ENTITY obreve CDATA "&obreve;"  >
<!ENTITY sacute SDATA "&sacute;"  >
<!ENTITY sdotblw SDATA "&sdotblw;"  >
<!ENTITY tdotblw SDATA "&tdotblw;"  >
<!ENTITY umacron SDATA "&umacron;"  >
<!ENTITY uuml SDATA "&uuml;"  >
<!ENTITY lac SDATA "&lac;"  >
