dtd/cbeta.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" 
    xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Customization for CBETA</title>
            </titleStmt>
            <publicationStmt>
                <p>not published</p>
            </publicationStmt>
            <sourceDesc>
                <p>created from scratch</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <div>
                <p>
                    <schemaSpec ident="cbeta-p5" start="TEI">
                        <moduleRef key="header"/>
                        <moduleRef key="core"/>
                        <moduleRef key="tei"/>
                        <moduleRef key="textstructure"/>
                        <moduleRef key="linking"/>
                        <moduleRef key="textcrit"/>
                        <moduleRef key="figures"/>
                        <moduleRef key="gaiji"/>
                        <moduleRef key="dictionaries"/>

			<classSpec ident="att.global" mode="change">
			 <attList>
				<attDef ident="rend" mode="change">
				 <datatype>
					<rng:text/>
				 </datatype>
				</attDef>
			 </attList>
			</classSpec>
                        <elementSpec ident="div" mode="change">
                            <content>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="mulu"/>
                                        <rng:ref name="docNumber"/>
                                        <rng:ref name="dialog"/>
                                        <rng:ref name="head"/>
                                        <rng:ref name="byline"/>
                                        <rng:ref name="lb"/>
                                        <rng:ref name="lg"/>
                                        <rng:ref name="pb"/>
                                        <rng:ref name="p"/>
                                        <rng:ref name="div"/>
                                        <rng:ref name="juan"/>
                                        <rng:ref name="list"/>
                                        <rng:ref name="entry"/>
                                        <rng:ref name="g"/>
                                        <rng:ref name="trailer"/>
                                        <rng:ref name="app"/>
                                        <rng:ref name="anchor"/>
                                        <rng:ref name="choice"/>
                                        <rng:ref name="milestone"/>
                                        <rng:ref name="note"/>
                                        <rng:ref name="table"/>
                                        <rng:ref name="figure"/>
                                        <rng:ref name="tt"/>
                                        <rng:ref name="macro.xtext"/>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </content>
                        </elementSpec>
                        <elementSpec ident="app" mode="change">
                            <attList>
                                <attDef ident="word-count" mode="add">
</attDef></attList></elementSpec>
                        <elementSpec ident="lem" mode="change">
                            <attList>
                                <attDef ident="cf1" mode="add">
                                    <desc>cf1 provides reference to a witness in another canonical
                                        collection</desc>
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="cf2" mode="add">
                                    <desc>cf2 provides reference to a witness in another canonical
                                        collection</desc>
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
                        <elementSpec ident="rdg" mode="change">
                            <attList>
                                <attDef ident="cf1" mode="add">
                                    <desc>cf1 provides reference to a witness in another canonical
                                        collection</desc>
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="cf2" mode="add">
                                    <desc>cf2 provides reference to a witness in another canonical
                                        collection</desc>
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
                        <elementSpec ident="list" mode="change">
                            <classes>
                                <memberOf key="model.global"/>
                            </classes>
												</elementSpec>
                        <elementSpec ident="note" mode="change">
                            <classes>
                                <memberOf key="model.global"/>
                            </classes>
												</elementSpec>
                        <elementSpec ident="label" mode="change">
                            <classes>
                                <memberOf key="model.lLike"/>
                            </classes>
												</elementSpec>
                        <elementSpec ident="byline" mode="change">
                            <classes>
                                <memberOf key="model.global"/>
                            </classes>
                            <content>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                <rng:ref name="model.phrase"/>
                                <rng:ref name="macro.xtext"/>
																<rng:ref name="model.global"/>
                                    </rng:choice> 
                                </rng:zeroOrMore>
                           </content>
                        </elementSpec>
                        <elementSpec ident="p" mode="change">
                            <attList>
                                <attDef ident="type" mode="add">
                                    <desc>The type attribute has been added to distinguish different
                                        types of paragraphs, for example those containing a dharani,
                                        a dedication, etc.</desc>
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
			 <content>
				<rng:oneOrMore>
				 <rng:choice>
					<rng:ref name="macro.paraContent"/>
					<rng:ref name="lg"/>
					</rng:choice>
				 </rng:oneOrMore>
			 </content>
                        </elementSpec>
                        <elementSpec ident="sp" mode="change">
                             <desc>The sp element is used here to record utterances in a dialog.</desc>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <desc>The type attribute  is used here to.</desc>
                                    <datatype>
                                    <valList type="closed">
                                        <valItem ident="question">
                                            <gloss>a question in a dialog</gloss>
                                        </valItem>
                                        <valItem ident="answer">
                                            <gloss>an answer in a dialog</gloss>
                                        </valItem>
                                    </valList>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
                        <elementSpec ident="choice" mode="change">
                            <attList>
                                <attDef ident="resp" mode="add">
                                    <desc>indicates the responsibility</desc>
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
<!--
                        <elementSpec ident="change" mode="change">
                                ﻿  <content>
                                    <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
                                        <rng:ref name="date"/>
                                        <rng:oneOrMore>
                                        <rng:ref name="respStmt"/>
                                        </rng:oneOrMore>
                                        <rng:ref name="item"/>
                                    </rng:group>
                                </content>
                        </elementSpec>
-->
<!--
												<elementSpec ident="trailer" mode="change">
                            <content>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                <rng:ref name="macro.phraseSeq"/>
																<rng:ref name="model.noteLike"/>
                                    </rng:choice> 
                                </rng:zeroOrMore>
                           </content>
												</elementSpec>
-->
												<elementSpec ident="foreign" mode="change">
                            <attList mode="change">
                                <attDef ident="resp" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="place" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="cert" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
												</elementSpec>
			<elementSpec ident="def" mode="change">
			 <content>
				<rng:zeroOrMore>
				 <rng:choice>
					<rng:ref name="model.common"/>
					<rng:ref name="model.global"/>
				 </rng:choice>
				</rng:zeroOrMore>
			 </content>
			</elementSpec>
<!-- new elements -->
                        <elementSpec ident="docNumber" mode="add">
												<desc>A specialization of the docTitle element. This should be used only once per document, usually as direct child of the body element</desc>
                            <classes>
                                <memberOf key="model.global"/>
                            </classes>
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
														</content>
                        </elementSpec>
<!--
                        <elementSpec ident="todo" mode="add">
                            <classes>
                                <memberOf key="macro.phraseSeq"/>
                            </classes>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
-->
                        <elementSpec ident="dialog" mode="add">
                            <classes>
                                <memberOf key="model.common"/>
                            </classes>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                            <content>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="sp"/>
                                        <rng:ref name="lb"/>
                                        <rng:ref name="pb"/>
</rng:choice>
</rng:zeroOrMore>
			 </content>
                        </elementSpec>

                        <elementSpec ident="mulu" mode="add">
                            <classes>
                                <memberOf key="model.global"/>
                            </classes>
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
                            </content>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
                        <elementSpec ident="juan" mode="add">
                            <classes>
                                <memberOf key="model.global"/>
                            </classes>
                            <content>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="mulu"/>
                                        <rng:ref name="note"/>
                                        <rng:ref name="jhead"/>
<!--                                        <rng:ref name="head"/> -->
                                        <rng:ref name="macro.phraseSeq"/>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </content>
                            <attList>
                                <attDef ident="fun" mode="add">
                                    <datatype>
                                        <rng:ref name="datatype.Choice"/>
                                    </datatype>
                                    <valList type="closed">
                                        <valItem ident="open">
                                            <gloss>opener</gloss>
                                        </valItem>
                                        <valItem ident="close">
                                            <gloss>closer</gloss>
                                        </valItem>
                                    </valList>
                                </attDef>
<!-- maybe this should be @rend not @place -->
<!--
                                <attDef ident="place" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
</attDef>
-->
                            </attList>
                        </elementSpec>
                        <elementSpec ident="jhead" mode="add">
                            <desc>Specialized head element used at the start of a scroll.</desc>
                            <classes>
                                <memberOf key="model.inter"/>
                                <memberOf key="macro.phraseSeq"/>
                            </classes>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
</attDef>
</attList>
                            <content>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="macro.phraseSeq"/>
                                        <rng:ref name="tt"/>
                                        <rng:ref name="label"/>
                                        <rng:ref name="note"/>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </content>
                        </elementSpec>
                        <elementSpec ident="tt" mode="add">
                            <desc>Container element for parallel t elements</desc>
                            <classes>
                                <memberOf key="model.inter"/>
                            </classes>
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
                                <rng:zeroOrMore>
                                    <rng:ref name="t"/>
                                </rng:zeroOrMore>
                            </content>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="word-count" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="from" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="to" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
                        <elementSpec ident="t" mode="add">
                            <desc>Element for parallel t elements (used to mark parallel Chinese and
                                Sanskrit passages)</desc>
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
                                <rng:zeroOrMore>
                                    <rng:ref name="yin"/>
                                </rng:zeroOrMore>
                            </content>
                            <attList>
                                <attDef ident="resp" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="place" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                                <attDef ident="cert" mode="add">
                                    <desc>describes the certainty of the assignment</desc>
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
                            </attList>
                        </elementSpec>
                        <elementSpec ident="fan" mode="add">
                            <desc>A container element for a sound gloss in fanqie notation. The
                                character to be annotated is <gi>zi</gi>, the soundgloss is
                                <gi>yin</gi>. The determinant is</desc>
                            <classes>
                                <memberOf key="model.inter"/>
                            </classes>
                            <content>
                                <rng:zeroOrMore>
                                    <rng:ref name="zi"/>
                                    <rng:ref name="yin"/>
                                </rng:zeroOrMore>
                            </content>
                        </elementSpec>
                        <elementSpec ident="zi" mode="add">
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
                            </content>
                        </elementSpec>
                        <elementSpec ident="yin" mode="add">
												<classes>
                                <memberOf key="model.phrase"/>
												</classes>
                            <desc>Content of a soundgloss, either of the fanqie type, or a
                                description, how a Sanskrit transkription is supposed to be
                                rendered.</desc>
                            <content>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                <rng:ref name="macro.phraseSeq"/>
																<rng:ref name="model.noteLike"/>
                                    <rng:ref name="zi"/>
                                    <rng:ref name="sg"/>
                                    </rng:choice> 
                                </rng:zeroOrMore>
                            </content>
                        </elementSpec>
                        <elementSpec ident="sg" mode="add">
                            <desc>Describes how the sound is modified on the preceding <gi>zi</gi>
                                element.</desc>
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
                            </content>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
														</attList>
                        </elementSpec>
                        <elementSpec ident="jl_title" mode="add">
                            <classes>
                                <memberOf key="model.phrase"/>
                            </classes>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
														</attList>
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
														</content>
												</elementSpec>
                        <elementSpec ident="jl_juan" mode="add">
                            <classes>
                                <memberOf key="model.phrase"/>
                            </classes>
<!--
                            <attList>
                                <attDef ident="n" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
														</attList>
-->
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
														</content>
												</elementSpec>
                        <elementSpec ident="jl_byline" mode="add">
                            <classes>
                                <memberOf key="model.phrase"/>
                            </classes>
                            <attList>
                                <attDef ident="type" mode="add">
                                    <datatype>
                                        <rng:text/>
                                    </datatype>
                                </attDef>
														</attList>
                            <content>
                                <rng:ref name="macro.phraseSeq"/>
														</content>
												</elementSpec>

                    </schemaSpec>
                </p>
            </div>
        </body>
    </text>
</TEI>
