dtd/cbetaxml20020719.dtd

<!-- CBETA project DTD, generated with FRED 31.12.98  (CW)

converted to XML form 2.1.99 (CW)

-->

<!--  A TEI document is a text preceded by a TEI header.       -->

<!ELEMENT tei.2            (teiHeader, text )>
<!ELEMENT teiHeader        (fileDesc, encodingDesc, revisionDesc )>

<!ELEMENT fileDesc (titleStmt, (editionStmt)?, (extent)?,
publicationStmt, (seriesStmt)?, (notesStmt)?, (sourceDesc)+)>

<!ELEMENT titleStmt  (((title)+, (author | editor | sponsor |
funder | principal | respStmt)*))>

<!ELEMENT editionStmt      (edition)>
<!ELEMENT edition          (#PCDATA | date)*>

<!ELEMENT extent (#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula)*>

<!ATTLIST extent 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "extent" >
     
<!--  5.2.4:  The publication statement                        -->

<!ELEMENT publicationStmt  (distributor, availability, date )>
<!ELEMENT distributor      ( name+, address )>
<!ELEMENT availability     (p)>

<!--  5.2.7:  The source description                           -->

<!ELEMENT sourceDesc       (bibl+, p?)>

<!--  5.3:  The encoding description                           -->

<!ELEMENT encodingDesc     (projectDesc, witList?)>

<!--  5.3.1:  The project description                          -->

<!ELEMENT projectDesc      (p+)>

<!--  5.5:  The Revision Description                           -->

<!ELEMENT revisionDesc     (change)+>
<!ELEMENT change           (date, respStmt, item)>

<!--  6.1:  Paragraph                                          -->

<!ELEMENT p (#PCDATA | anchor | app | corr | fan | figure | gaiji | l | lb | note | pb |
skgloss | span | table | term | tt )*>

<!ATTLIST p                n    CDATA  #IMPLIED 
                           loc    CDATA  #IMPLIED   
                           lang    CDATA  #IMPLIED   
                           type    CDATA  #IMPLIED   
                           rend    CDATA  #IMPLIED   >

<!--  6.3.4:  Highlighted phrases (cont'd)                     -->

<!ELEMENT term             ( #PCDATA | gaiji | lb | pb | app | fan | l)*>
<!ATTLIST term             rend CDATA  #IMPLIED 
                           lang CDATA  #IMPLIED>

<!-- GLOSS is from the TEI set, but the attribute alt has been added (CW, 18.11.98) -->

<!ELEMENT gloss            ( #PCDATA | corr | skgloss)*>
<!ATTLIST gloss            n    CDATA  #IMPLIED
		                   alt CDATA #IMPLIED >

<!-- SKGLOSS is added by CBETA -->
<!ELEMENT skgloss          ( gloss, term )>
<!ATTLIST skgloss          n    CDATA  #IMPLIED >

<!--  6.4.1:  Proper Nouns                                     -->

<!ELEMENT name             (#PCDATA)>
<!ATTLIST name            type    CDATA  #IMPLIED 
                          lang CDATA #IMPLIED>

<!--  6.4.2:  Addresses and their components                   -->
<!ELEMENT address          (addrLine)>
<!ELEMENT addrLine         (#PCDATA)>

<!--  6.4.4:  Dates and times                                  -->

<!ELEMENT date             (#PCDATA)>

<!--  6.5.1:  Editorial tags for correction                    -->

<!-- CORR is from the TEI set, but the attributes cf1, cf2 has been added (CW, 1.7.98) -->

<!ELEMENT corr             (#PCDATA | gaiji | xref | anchor | lb | note)*>
<!ATTLIST corr             cf1  CDATA  #IMPLIED 
                           cf2  CDATA  #IMPLIED 
                           resp CDATA  #IMPLIED 
                           cert CDATA  #IMPLIED 
                           sic  CDATA  #IMPLIED >

<!--  6.6:  Simple cross references                            -->

<!ELEMENT ref (#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*>

<!ATTLIST ref 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     type CDATA #IMPLIED 
     resp CDATA #IMPLIED 
     crdate CDATA #IMPLIED 
     targType CDATA #IMPLIED 
     targOrder (Y | N | U) "U" 
     evaluate (all | one | none) #IMPLIED 
     target IDREFS #IMPLIED 
     TEIform CDATA "ref" >

<!--  6.7:  Lists and List Items                               -->

<!ELEMENT list              (head?, (item | gaiji | lb | milestone | pb)*)>
<!ATTLIST list
	id   ID    #IMPLIED
	type CDATA #IMPLIED
	lang CDATA #IMPLIED
	rend CDATA #IMPLIED >

<!ELEMENT item (#PCDATA | anchor | byline | gaiji | lb | list | app | pb | corr | note | p | ref | title)*>
<!ATTLIST item             n    CDATA  #IMPLIED
                           rend CDATA  #IMPLIED >

<!ELEMENT head             ( #PCDATA | app | skgloss | corr | gaiji | lb |pb | note | anchor | title| l)*>
<!ATTLIST head
	rend CDATA #IMPLIED 
	type CDATA  #IMPLIED >

<!--  6.8.1:  Annotation                                       -->

<!ELEMENT note             (#PCDATA | anchor | app | figure | p | corr | gaiji | note | skgloss|gloss|term| lb | list | pb | lg| l|fan | tt | xref)*>
<!ATTLIST note             n    CDATA  #IMPLIED 
                           lang CDATA  #IMPLIED 
                           resp CDATA  #IMPLIED 
                           type CDATA  #IMPLIED 
                           place CDATA #IMPLIED>

<!--  6.9.3:  Milestone tags  -->

<!ELEMENT pb               EMPTY>
<!ATTLIST pb               ed   CDATA  #IMPLIED 
                           id   ID  #IMPLIED 
                           n    CDATA  #IMPLIED >

<!ELEMENT milestone EMPTY>

<!ATTLIST milestone 
     id ID #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     ed CDATA #IMPLIED 
     n CDATA #IMPLIED 
     unit CDATA #REQUIRED 
     TEIform CDATA "milestone" >

<!ELEMENT lb               EMPTY>
<!ATTLIST lb 
     id ID #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     ed CDATA #IMPLIED 
     n CDATA #IMPLIED 
     TEIform CDATA "lb" >

<!--  6.10.1:  Tags for Bibliographic References               -->

<!ELEMENT bibl             (#PCDATA)>
<!ATTLIST bibl            lang    CDATA  #IMPLIED >

<!ELEMENT title            (#PCDATA | anchor | gaiji | app | note | lb | pb | skgloss|corr)*>
<!ATTLIST title            type    CDATA  #IMPLIED 
                           lang CDATA #IMPLIED>

<!ELEMENT respStmt         (resp | name)*>

<!ELEMENT resp             (#PCDATA)>

<!--  6.10.2.2:  Tags for Bibliographic References (cont'd)    -->

<!ELEMENT author (#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gaiji | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula)*>

<!ATTLIST author 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "author" >
     
<!--  6.11.1:  Verse                                           -->

<!ELEMENT l                (#PCDATA | figure | gaiji | skgloss | corr | app | note | lb | pb | term | tt | anchor)*>
<!ATTLIST l                rend    CDATA  #IMPLIED   >

<!ELEMENT lg               ( ( gaiji | lb | l | pb | app | anchor | skgloss | gloss | term | head | p | note)* )>
<!ATTLIST lg               type CDATA  #IMPLIED
                           rend CDATA  #IMPLIED >

<!--  7:  Top-level parts of default structure                 -->

<!ELEMENT text             (body)>
<!ATTLIST text rend CDATA  #IMPLIED >

<!ELEMENT body             ((gaiji | lb |pb | head |juan | byline | div1 | milestone | mulu)*)>

<!--  7.1.2:  Numbered divisions                               -->

<!ELEMENT div1             ( ( div2 | ( head | p | lg | juan | gaiji | lb |pb | byline | trailer |
app | list | anchor| corr | mulu | xref | milestone | note )*)*) >

<!ATTLIST div1
	type CDATA #IMPLIED 
	n CDATA #IMPLIED
	rend    CDATA  #IMPLIED   >
	
<!ELEMENT div2 ( ( div3 | ( app | byline | gaiji | head | jhead | juan |
lb | lg | list | milestone | mulu | note | p | pb | trailer | xref)*)* ) >

<!ATTLIST div2
	type CDATA  #IMPLIED 
	n    CDATA #IMPLIED
	rend CDATA  #IMPLIED   >
                           
<!ELEMENT div3 ( ( div4 | head | p | lg | milestone | juan | jhead | gaiji |
lb | list | note | pb | byline | trailer | app | mulu | xref)*) >

<!ATTLIST div3
	type CDATA  #IMPLIED 
	n CDATA #IMPLIED >

<!ELEMENT div4 ( ( div5 | head | p | lg | milestone | juan | jhead | gaiji |
lb | list | note | pb | byline | trailer | app | mulu | xref)*) >

<!ATTLIST div4 
	type CDATA  #IMPLIED
	n CDATA #IMPLIED >

<!ELEMENT div5 ( ( div6 | head | p | lg | juan | jhead | gaiji |
lb | list | note | pb | byline | trailer | app | mulu | milestone)*) >

<!ATTLIST div5
	type CDATA  #IMPLIED 
	n CDATA #IMPLIED >

<!ELEMENT div6 ( ( div7 | head | p | lg | juan | jhead | gaiji |
lb | list | note | pb | byline | trailer | app | mulu | milestone)*) >

<!ATTLIST div6
	type CDATA  #IMPLIED 
	n CDATA #IMPLIED >
	
<!ELEMENT div7 ( ( div8 | head | p | lg | juan | jhead | gaiji |
lb | list | note | pb | byline | trailer | app | mulu )*) >

<!ATTLIST div7
	type CDATA  #IMPLIED
	n CDATA #IMPLIED >

<!ELEMENT div8 ( ( head | p | lg | juan | jhead | gaiji |
lb | list | note | pb | byline | trailer | app | mulu | milestone)*) >

<!ATTLIST div8
	type CDATA  #IMPLIED 
	n CDATA #IMPLIED >

<!--  7.2.4:  Tags for start and end of divisions              -->

<!ELEMENT trailer          (#PCDATA | anchor | gaiji | lb |corr | app | title | pb | note | head)*>

<!ELEMENT byline           ( #PCDATA | gaiji | lb |pb | app | corr | note | anchor)*>
<!ATTLIST byline           type CDATA  #IMPLIED >

<!--  14.2.1:  Extended pointers                               -->

<!-- XREF is from the TEI set, but the attributes loc, rend has been added (Chou, Ray, 2000/9/5 10:18AM) -->

<!ELEMENT xref             (#PCDATA | anchor | lb | note)* >
<!ATTLIST xref             doc  CDATA #IMPLIED 
                           loc  CDATA #IMPLIED 
                           rend CDATA #IMPLIED >

<!--  14.3:  Segments and Anchors                              -->

<!ELEMENT anchor           EMPTY>
<!ATTLIST anchor           id  ID  #IMPLIED 
     n CDATA #IMPLIED >

<!--  22:  Tables, Formulae, Figures                           -->
<!--  22.1.1:  Tables                                          -->

<!ELEMENT table ((head)*, (row)+ )>

<!ATTLIST table 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     rows CDATA #IMPLIED 
     cols CDATA #IMPLIED 
     TEIform CDATA "table" >

<!ELEMENT row ((cell | table)+)>

<!ATTLIST row 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     role CDATA "data" 
     TEIform CDATA "row" >

<!ELEMENT cell (#PCDATA | ident | code | kw | abbr | address |
date | name | num | rs | time | add | corr | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text | pb | lb | gaiji)*>

<!ATTLIST cell 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     role CDATA "data" 
     rows CDATA "1" 
     cols CDATA "1" 
     TEIform CDATA "cell" >
     
<!--  22.3:  Figures  -->

<!ELEMENT figure EMPTY>

<!ATTLIST figure 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     entity ENTITY #IMPLIED 
     TEIform CDATA "figure" >

<!ELEMENT app              ( lem?, rdg+ )>
<!ATTLIST app 
						    wit CDATA #IMPLIED
						    ana IDREFS #IMPLIED 
     						corresp IDREFS #IMPLIED 
     						from IDREF #IMPLIED 
						    to IDREF #IMPLIED 
     						yuan CDATA #IMPLIED
						     next IDREF #IMPLIED 
						     prev IDREF #IMPLIED 
						     id ID #IMPLIED 
						     n CDATA #IMPLIED 
						     lang IDREF #IMPLIED 
						     rend CDATA #IMPLIED 
						     TEIform CDATA "app" >


<!ELEMENT lem              (#PCDATA | app | gaiji | lb | milestone | byline | note | l | pb | skgloss | lg | fan | head | p | juan | title | list | corr | mulu)*>
<!ATTLIST lem 
						     wit CDATA #IMPLIED
						     ana IDREFS #IMPLIED 
						     corresp IDREFS #IMPLIED 
						     from IDREF #IMPLIED 
						     to IDREF #IMPLIED 
						     next IDREF #IMPLIED 
						     prev IDREF #IMPLIED 
						     id ID #IMPLIED 
						     n CDATA #IMPLIED 
						     lang IDREF #IMPLIED 
						     rend CDATA #IMPLIED 
						     TEIform CDATA "lem" >

<!ELEMENT rdg              (#PCDATA | gaiji | lb | note | fan | p)*>
<!ATTLIST rdg                wit  CDATA  #IMPLIED
						     ana IDREFS #IMPLIED 
						     corresp IDREFS #IMPLIED 
						     from IDREF #IMPLIED 
						     to IDREF #IMPLIED 
						     next IDREF #IMPLIED 
						     prev IDREF #IMPLIED 
						     id ID #IMPLIED 
						     n CDATA #IMPLIED 
						     lang IDREF #IMPLIED 
						     rend CDATA #IMPLIED 
						     TEIform CDATA "rdg"  >



<!ELEMENT span              (#PCDATA | gaiji | lb |app | pb)*>
<!ATTLIST span             id  ID  #IMPLIED 
                           n CDATA  #IMPLIED 
                           rend CDATA  #IMPLIED >


     
<!-- CBETA specific elements -->

<!ELEMENT witList          (witness)+>
<!ELEMENT witness          (#PCDATA | note)*>
<!ATTLIST witness           sigil    CDATA  #IMPLIED 
                            included CDATA  #IMPLIED   >

<!ELEMENT jhead            ( #PCDATA | app | skgloss | corr | gaiji | lb |pb | note | anchor | title)*>
<!ATTLIST jhead            type CDATA  #IMPLIED >
<!ELEMENT juan             ( #PCDATA | anchor | skgloss | app | corr | gaiji | lb |pb | note | jhead | head | byline | title | mulu)*>
<!ATTLIST juan             fun  CDATA  #IMPLIED 
                           n    CDATA  #IMPLIED >


<!ELEMENT fan              ( zi, yin )>
<!ELEMENT zi               ( #PCDATA | anchor | app | lb | note | gaiji | yin)*>
<!ELEMENT sg               ( #PCDATA | anchor | app | note | gaiji | corr | lb)*>
<!ATTLIST sg               type CDATA #IMPLIED >
<!ELEMENT yin              ( #PCDATA | app | note | gaiji | zi | sg)*>
<!ATTLIST yin              yuan CDATA #IMPLIED >





<!ELEMENT gaiji            (#PCDATA)* >
<!ATTLIST gaiji            id ID #IMPLIED
                           mojikyo CDATA #IMPLIED
                           mofont CDATA #IMPLIED
                           mochar CDATA #IMPLIED
                           cb     CDATA #IMPLIED
                           des    CDATA #IMPLIED
                           uni    CDATA #IMPLIED
                           nor    CDATA #IMPLIED 
                           big5   CDATA #IMPLIED>

<!ELEMENT mulu            (#PCDATA)* >
<!ATTLIST mulu             id ID #IMPLIED
                           type CDATA #IMPLIED
                           level CDATA #IMPLIED
                           n CDATA #IMPLIED
                           label CDATA #IMPLIED >

<!ELEMENT tt (t | lb)* >
<!ATTLIST tt type CDATA #IMPLIED
	rend CDATA #IMPLIED>

<!ELEMENT t (#PCDATA | corr | gaiji | yin | app | note | lb | anchor | pb)* >
<!ATTLIST t lang   CDATA #IMPLIED
            repeat CDATA #IMPLIED
            rend   CDATA #IMPLIED>
            
<!-- Notations -->

<!NOTATION doc SYSTEM "uedit32.exe">
<!NOTATION GIF SYSTEM "acdsee32.exe">