dtd/ybhcbeta.dtd

<!-- CBETA project DTD, generated with FRED 31.12.98  (CW)

added K1..K5 for YBH 18.2.99 (CW)
moved K1..K5 to ybhcbeta.dtd 2.6.99 (CW)

-->


<!ELEMENT TEI.2            - - ( TEIHEADER, TEXT )>
<!ELEMENT TEIHEADER        - - ( FILEDESC, ENCODINGDESC, REVISIONDESC? )>
<!ELEMENT TEXT             - - (BODY)>
<!ELEMENT FILEDESC         - - (TITLESTMT, EDITIONSTMT?, PUBLICATIONSTMT, SOURCEDESC )>
<!ELEMENT ENCODINGDESC     - - (PROJECTDESC)>
<!ELEMENT REVISIONDESC     - - (CHANGE)+>
<!ELEMENT CHANGE           - - (DATE, RESPSTMT, ITEM)>
<!ELEMENT TITLESTMT        - - (TITLE, RESPSTMT)>
<!ELEMENT TITLE            - - (#PCDATA)>
<!ELEMENT RESPSTMT         - - (RESP | NAME)*>
<!ELEMENT RESP             - - (#PCDATA)>
<!ELEMENT NAME             - - (#PCDATA)>
<!ELEMENT EDITIONSTMT      - - (EDITION)>
<!ELEMENT PUBLICATIONSTMT  - - ( DISTRIBUTOR, AVAILABILITY, DATE )>
<!ELEMENT SOURCEDESC       - - (BIBL, P*)>
<!ELEMENT EDITION          - - (#PCDATA)>
<!ELEMENT DISTRIBUTOR      - - ( NAME, ADDRESS )>
<!ELEMENT AVAILABILITY     - - (P)>
<!ELEMENT DATE             - - (#PCDATA)>
<!ELEMENT ADDRESS          - - (ADDRLINE)>
<!ELEMENT ADDRLINE         - - (#PCDATA)>
<!ELEMENT P                - - ( #PCDATA | SPAN | LB | PB | SKGLOSS | NOTE| CORR | FAN | APP | ANCHOR)+>
<!ATTLIST P                    n    CDATA  #IMPLIED 
                               type    CDATA  #IMPLIED
                               label    CDATA  #IMPLIED      
                               lang    CDATA  #IMPLIED   
                               rend    CDATA  #IMPLIED   >
<!ELEMENT SPAN             - - (#PCDATA | LB )+>
<!ATTLIST SPAN                 n    CDATA  #IMPLIED 
                               type    CDATA  #IMPLIED   
                               lang    CDATA  #IMPLIED   
                               rend    CDATA  #IMPLIED   >
<!ELEMENT BIBL             - - (#PCDATA)>
<!ELEMENT PROJECTDESC      - - (P+)>
<!ELEMENT BODY             - - ((LB | PB | HEAD | JUAN | BYLINE | DIV1)*)>
<!ELEMENT LB               - O EMPTY>
<!ATTLIST LB                   n    CDATA  #IMPLIED >
<!ELEMENT HEAD             - - ( #PCDATA | APP | SKGLOSS | CORR | LB | PB | NOTE | ANCHOR)+>
<!ATTLIST HEAD                 type CDATA  #IMPLIED
                               orig CDATA  #IMPLIED >
<!ELEMENT BYLINE           - - ( #PCDATA | LB | APP | CORR | NOTE)+>
<!ATTLIST BYLINE               type CDATA  #IMPLIED 
                               n    CDATA  #IMPLIED >
<!ELEMENT DIV1             - - ( HEAD?, (DIV2 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV1                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
<!ELEMENT DIV2             - - ( HEAD?, (DIV3 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV2                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
<!ELEMENT DIV3             - - ( HEAD?, (DIV4 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV3                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
<!ELEMENT DIV4             - - ( HEAD?, (DIV5 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV4                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
<!ELEMENT DIV5             - - ( HEAD?, (DIV6 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV5                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
<!ELEMENT DIV6             - - ( HEAD?, (DIV7 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV6                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
<!ELEMENT DIV7             - - ( HEAD?, (DIV8 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV7                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
							   
<!ELEMENT DIV8             - - ( HEAD?, (DIV9 | (P | LG | JUAN | LB | PB | BYLINE | TRAILER | APP | LIST | ANCHOR)*)*) >
<!ATTLIST DIV8                 type CDATA  #IMPLIED 
							   n CDATA #IMPLIED>
							   							   
<!ELEMENT TERM             - - ( #PCDATA | LB | APP)+>
<!ELEMENT LG               - - ( ( LB | L | PB | APP | ANCHOR)* )>
<!ATTLIST LG                   type CDATA  #IMPLIED >
<!ELEMENT PB               - O EMPTY>
<!ATTLIST PB                   ed   CDATA  #IMPLIED 
                               id   CDATA  #IMPLIED 
                               n    CDATA  #IMPLIED >
<!ELEMENT NOTE             - - (#PCDATA | APP |CORR | LB | PB)*>
<!ATTLIST NOTE                 n    CDATA  #IMPLIED 
                               type CDATA  #IMPLIED >
<!ELEMENT L                - - ( ( #PCDATA | SKGLOSS | CORR | APP | NOTE)*)>
<!ELEMENT TRAILER          - - (#PCDATA | LB | CORR | APP)*>
<!ELEMENT APP              - - ( LEM, RDG+ )>
<!ATTLIST APP 
                               wit CDATA #IMPLIED
                               ana IDREFS #IMPLIED 
                               corresp IDREFS #IMPLIED 
                               from IDREF #IMPLIED 
                               to IDREF #IMPLIED 
                               yuan CDATA #IMPLIED
                               next IDREF #IMPLIED 
                               prev IDREF #IMPLIED 
                               id ID #IMPLIED 
                               n CDATA #IMPLIED 
                               lang IDREF #IMPLIED 
                               rend CDATA #IMPLIED >


<!ELEMENT LEM              - - ( (#PCDATA | APP | LB | BYLINE | NOTE | L | PB | CORR | LG | FAN | HEAD | JUAN| LIST| ITEM)*)>
<!ATTLIST LEM 
                               wit CDATA #IMPLIED
                               ana IDREFS #IMPLIED 
                               corresp IDREFS #IMPLIED 
                               from IDREF #IMPLIED 
                               to IDREF #IMPLIED 
                               next IDREF #IMPLIED 
                               prev IDREF #IMPLIED 
                               id ID #IMPLIED 
                               n CDATA #IMPLIED 
                               lang IDREF #IMPLIED 
                               rend CDATA #IMPLIED >

<!ELEMENT RDG              - - ((#PCDATA | NOTE | JUAN | HEAD | BYLINE | CORR)*)>
<!ATTLIST RDG                  WIT  CDATA  #IMPLIED
                               ana IDREFS #IMPLIED 
                               corresp IDREFS #IMPLIED 
                               from IDREF #IMPLIED 
                               to IDREF #IMPLIED 
                               next IDREF #IMPLIED 
                               prev IDREF #IMPLIED 
                               id ID #IMPLIED 
                               n CDATA #IMPLIED 
                               lang IDREF #IMPLIED 
                               rend CDATA #IMPLIED >

<!ELEMENT ANCHOR           - O EMPTY>
<!ATTLIST ANCHOR               ID  ID  #IMPLIED >

<!ELEMENT LIST              - - (HEAD?, (ITEM | LB | PB)*)>
<!ELEMENT ITEM              - - ((#PCDATA | LB | APP | PB)*)>

<!-- CBETA specific elements -->

<!ELEMENT JHEAD            - - ( #PCDATA | APP | SKGLOSS | CORR | LB | PB | NOTE | ANCHOR)*>
<!ATTLIST JHEAD                type CDATA  #IMPLIED >
<!ELEMENT JUAN             - - ( SKGLOSS | APP | CORR | LB | PB | NOTE | JHEAD | BYLINE | HEAD | #PCDATA )+>
<!ATTLIST JUAN                 fun  CDATA  #IMPLIED 
                               n    CDATA  #IMPLIED
                               ed   CDATA  #IMPLIED >


<!ELEMENT FAN              - - ( ZI, YIN )>
<!ELEMENT ZI               - - ( #PCDATA )>
<!ELEMENT YIN              - - ( #PCDATA | APP)*>


<!ELEMENT SKGLOSS          - - ( GLOSS |TERM |JUAN |HEAD |L )+>
<!ATTLIST SKGLOSS              n    CDATA  #IMPLIED >

<!ELEMENT K0               - - ( #PCDATA | JUAN | BYLINE | HEAD | P | SPAN | LB | LG| PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR  | DIV1 | K1 | K2 | K3 | K4 | K5 | K6 | K7 | K8)+>
<!ATTLIST K0                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED      
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K1               - - ( #PCDATA | JUAN | BYLINE | HEAD | P | SPAN | LB | LG| PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR  | DIV1 | K2 | K3 | K4 | K5 | K6 | K7 | K8)+>
<!ATTLIST K1                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED      
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K2               - - ( #PCDATA  | JUAN | BYLINE | HEAD | P | SPAN | LB | LG | PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR | DIV1 | K3 | K4 | K5 | K6 | K7 | K8)+>
<!ATTLIST K2                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED      
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K3               - - ( #PCDATA   | JUAN | BYLINE | HEAD | P | SPAN | LB | LG | PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR   | DIV1 | K4 | K5 | K6 | K7 | K8)+>
<!ATTLIST K3                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED      
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K4               - - ( #PCDATA | JUAN | BYLINE  | HEAD | P | SPAN | LB | LG | PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR  | K5 | K6 | K7 | K8)+>
<!ATTLIST K4                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED      
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K5               - - ( #PCDATA  | JUAN | BYLINE  | HEAD | P | SPAN | LB | LG | PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR | DIV1 |K6 | K7 | K8)+>
<!ATTLIST K5                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED   
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K6               - - ( #PCDATA  | JUAN | BYLINE  | HEAD | P | SPAN | LB | LG | PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR | DIV1 | K7 | K8)+>
<!ATTLIST K6                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED   
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K7               - - ( #PCDATA  | JUAN | BYLINE  | HEAD | P | SPAN | LB | LG | PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR | K8)+>
<!ATTLIST K7                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED   
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!ELEMENT K8               - - ( #PCDATA  | JUAN | BYLINE  | HEAD | P | SPAN | LB | LG | PB | SKGLOSS | NOTE | CORR | FAN | APP | ANCHOR )+>
<!ATTLIST K8                  n    CDATA  #IMPLIED 
                              type    CDATA  #IMPLIED
                              label    CDATA  #IMPLIED   
                              lang    CDATA  #IMPLIED   
                              rend    CDATA  #IMPLIED   >

<!-- GLOSS is from the TEI set, but the attribute alt has been added (CW, 18.11.98) -->

<!ELEMENT GLOSS            - - (( #PCDATA | CORR | SKGLOSS | TERM)*)>
<!ATTLIST GLOSS                n    CDATA  #IMPLIED
		                       alt CDATA #IMPLIED >
		                       
<!-- CORR is from the TEI set, but the attributes cf1, cf2 has been added (CW, 1.7.98) -->
		                       
<!ELEMENT CORR             - - (#PCDATA)>
<!ATTLIST CORR                 cf1  CDATA  #IMPLIED 
                               cf2  CDATA  #IMPLIED 
                               resp CDATA  #IMPLIED 
                               sic  CDATA  #IMPLIED >




<!ENTITY #DEFAULT " *** UNDEFINED ENTITY REFERENCE *** ">
